    /* Custom CSS for NTC */
    #hero {
        width: 100%;
        height: 80vh;
        background: #014c59;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #hero .container {
        padding-top: 72px;
        text-align: center;
    }

    #hero h1 {
        margin: 0 0 10px 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: #fff;
        animation: moveText 2s ease-in-out infinite alternate;
    }

    #hero h2 {
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 50px;
        font-size: 24px;
    }

    #hero .btn-get-started {
        font-family: "Jost", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 28px 11px 28px;
        border-radius: 50px;
        transition: 0.5s;
        margin: 10px 0 0 0;
        color: #fff;
        background: #47b2e4;
    }

    #hero .btn-get-started:hover {
        background: white;
    }

    @keyframes moveText {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
    }


    body {
        font-family: Arial, sans-serif;
    }

    .primary-bg {
        background-color: #0097B2;
        transition: .3s;
    }

    .primary-text {
        color: #0097B2;
    }

    .secondary-bg {
        background-color: #FF914D;
    }

    section:not(:last-child) {
        border-bottom: 1px solid #D1D5DB;
    }

    a:hover {
        text-decoration: underline;
    }

    section h2 {
        transition: color 0.3s ease-in-out;
    }

    .intro-image-card {
        border-radius: 125px 150px 130px 5px;
    }

    .absolute-badge {
        position: absolute;
        top: 10px;
        left: -10px;
        transform: rotate(-30deg);
        padding: 2px 6px;
        font-size: 1.0rem;
        font-weight: 600;
        border-radius: 0.25rem;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .executive-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid #fff;
    }

    .executive-card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    .btn-about-us {
        display: inline-block;
        padding: 10px 20px;
        background-color: #014c59;
        color: #fff;
        border-radius: 5px;
        font-size: 16px;
        transition: background-color 0.3s;

    }

    .btn-about-us:hover {
        background-color: #014c59;
    }

    .underline {
        text-decoration: underline;
    }

    /* return to top button */
    #returnTopBtn {
        display: none;
        position: fixed;
        /* bottom: 20px; */
        top: 10px;
        right: 10px;
        z-index: 999;
        padding: 10px 15px;
        background-color: #03466c;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    /* social media icon of footer */
    .social-icon {
        border: 2px solid white;
        border-radius: 50%;
        transition: transform 0.3s ease;
        background-color: white;
        padding: 2px;
    }

    .social-icon:hover {
        transform: scale(1.2);
    }


/* Default styles for navigation menu */
#navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navMenu li {
    margin-right: 20px;
}

#navMenu a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

#navMenu a:hover {
    color: #ccc; 
}

/* Media query for smaller devices */
@media (max-width: 768px) {
    #navMenu {
        display: none; 
        position: absolute;
        top: 60px; 
        left: 0;
        width: 100%;
        background-color: #0097B2;
        padding: 10px 0;
        text-align: center;
        z-index: 999; 
    }

    #navMenu li {
        display: block;
        margin-bottom: 10px;
    }

    #navMenu a {
        display: block;
        padding: 10px;
        color: #fff;
    }
}
