/* Custom CSS for NTC */
#hero {
    width: 100%;
    height: 80vh;
    background: #014c59;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .container {
    padding-top: 72px;
    text-align: center;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    animation: moveText 2s ease-in-out infinite alternate;
}

#hero h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
}

#hero .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
}

#hero .btn-get-started:hover {
    background: white;
}

@keyframes moveText {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}







        
        body {
            font-family: Arial, sans-serif;
        }

        .primary-bg {
            background-color: #0097B2;
            transition: .3s;
        }

        .primary-text {
            color: #0097B2;
        }

        .secondary-bg {
            background-color: #FF914D;
        }

    
        section:not(:last-child) {
            border-bottom: 1px solid #D1D5DB;
        }

        
        a:hover {
            text-decoration: underline;
        }

       
        section h2 {
            transition: color 0.3s ease-in-out;
        }

        
        section:hover h2 {
            
        }

        .intro-image-card {
            border-radius: 125px 150px 130px 5px;
        }

        .absolute-badge {
            position: absolute;
            top: 10px;
            left: -10px;
            transform: rotate(-30deg);
            padding: 2px 6px;
            font-size: 1.0rem;
            font-weight: 600;
            border-radius: 0.25rem;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        .executive-image {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            border: 5px solid #fff;
        }

        .executive-card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }


  
.btn-about-us {
    display: inline-block;
    padding: 10px 20px;
    background-color: #014c59;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    
}

.btn-about-us:hover {
    background-color: #014c59;
}

/*team member*/

.team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
    height: 100%;
  }
  
  .team .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
  }
  
  .team .member .pic img {
    transition: ease-in-out 0.3s;
  }
  
  .team .member:hover {
    transform: translateY(-10px);
  }
  
  .team .member .member-info {
    padding-left: 30px;
  }
  
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
  }
  
  .team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
  }
  
  .team .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #cbd6e9;
    bottom: 0;
    left: 0;
  }
  
  .team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
  }
  
  .team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .team .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #eff2f8;
  }
  
  .team .member .social a i {
    color: #37517e;
    font-size: 16px;
    margin: 0 2px;
  }
  
  .team .member .social a:hover {
    background: #47b2e4;
  }
  
  .team .member .social a:hover i {
    color: #fff;
  }
  
  .team .member .social a+a {
    margin-left: 8px;
  }

  .team .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .team .col-lg-6 {
    flex: 0 0 50%;
  }